@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.banner{
    background-color: #7c7c797c;
    width: 95%;
    margin-left: 2.5%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
    border: 8px solid #3f3f3f;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.Btns{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btns {
    width: 400px;
    height: 400px;
    text-decoration: none;
    font-size: 45pt;
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    border: 0px hidden white;
    background-color: #7c7c797c;
    color: white;
    transition: 0.5s;
    opacity: 0.7;
}

.btns:hover{
    opacity: 1;
}

.btns:not(:first-child){
    margin-left: 15px;
}
.imgBtn{
    width: 30%;
    border-radius: 50%;
    box-shadow: 7px 20px 10px 2px black;
}


.btns:not(:hover) .imgBtn{
    animation: none ease-out;
}

.banner0{
    width: 32%;
}
.btnT{
    margin-bottom: 50px;
    margin-left: 130%;
    color: white;
    font-size: 35pt;
    font-family: 'Kiwi Maru', serif;
    font-weight: bolder;
}

@media only screen and (max-device-width: 900px){
    .banner{
        display: block;
        width: 93%;
        height: 500px;
        margin-left: 12px;
    }
    .Btns{
        width: 95%;
        margin-left: 5px;
    }
    .btnT{
        font-size: 30pt;
        margin-left: 40px;
    }
    .btns{
        width: 135px;
        height: 135px;
        font-size: 16pt;

    }
    .btns:last-child{
        margin-top: 20px;
    }
    .banner0{
        margin-left: 40px;
    }
    .imgBtn{
        box-shadow: 2px 8px 10px 2px black;
    }
}