.headerLoja{
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    background-color: #B42719;
    display: flex;
    overflow: hidden;
}
.logoLoja{
    width: 25%;
}
.headerBtn{
    margin-top: 50px;
    margin-left: 400px;
}

.headerBtn a:not(:first-child){
    margin-left: 20px;
}
.letters{
    font-size: 15pt;
    color: white;
}

.btnNav{
    margin-left: 100px;
}
@media only screen and (max-device-width: 900px){
    .logoLoja{
        width: 80%;
    }
    .btnNav{
        margin-left: 0;
    }

}
